BasedOnStyle: LLVM

IndentWidth:        4
TabWidth:           4
UseTab:             Never

ColumnLimit:        160

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces:  Allman

PointerAlignment:   Left

SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpaceBeforeParens:   ControlStatements

SortIncludes:       true

IncludeBlocks: Regroup
Standard: Latest

IndentCaseLabels: true
IndentGotoLabels: true
InsertTrailingCommas: Wrapped

DerivePointerAlignment: false
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None


AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 4


AllowShortEnumsOnASingleLine: false

Cpp11BracedListStyle: true
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always