[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdParty/volk"]
	path = 3rdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "3rdParty/vma"]
	path = 3rdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdParty/imgui"]
    branch = docking
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdParty/tracy"]
	path = 3rdParty/tracy
	url = https://github.com/wolfpld/tracy
[submodule "3rdparty/meshoptimizer"]
	path = 3rdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "3rdparty/fastgltf"]
	path = 3rdparty/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdParty/gameinput"]
	path = 3rdParty/gameinput
	url = https://github.com/microsoftconnect/GameInput
