[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdParty/volk"]
	path = 3rdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "3rdParty/vma"]
	path = 3rdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdParty/tracy"]
	path = 3rdParty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "3rdParty/meshoptimizer"]
	path = 3rdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "3rdParty/fastgltf"]
	path = 3rdParty/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdParty/sdl"]
	path = 3rdParty/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "3rdParty/openxr"]
	path = 3rdParty/openxr
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
